{% extends 'clubs/main.html' %}

{% block title %}Zmiana hasła {% endblock %}

{% block signuup/login %}
<div class="container py-5 h-100 login">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-10 col-md-8 col-lg-6 col-xl-5">
      <div class="card">
        <div class="card-body p-4 text-center">

          <p>
            Wysłaliśmy Ci e-mailem instrukcje dotyczące przywracania hasła, jeśli istnieje konto z podanym przez Ciebie adresem e-mail.
            Powinieneś je wkrótce otrzymać.
          </p>
          <p>
            Jeśli nie otrzymasz wiadomości e-mail, upewnij się, że podałeś adres, pod którym się zarejestrowałeś i sprawdź folder spamu.
          </p>

          <p>Możesz przejść dalej i <a href="{% url 'login' %}">zalogować się</a> po zmianie hasła.</p>

        </div>
      </div>
    </div>
  </div>
</div>

  {% endblock %}