{% extends 'clubs/main.html' %}

{% block title %}Hasło zmienione {% endblock %}
{% block header_not_auth %}Hasło zmienione {% endblock %}

{% block signuup/login %}

  <div class="container py-5 h-100 login">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10 col-md-8 col-lg-6 col-xl-5">
        <div class="card">
          <div class="card-body p-4 text-center">
            <p>
              Hasło zostało zmienione. Możesz teraz się <a href="{% url 'login' %}">zalogować</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}