{% extends 'clubs/main.html' %}

{% block title %}Ustaw nowe hasło{% endblock %}
{% block header_not_auth %}Ustaw nowe hasło{% endblock %}

{% block signuup/login %}

<div class="container py-5 h-100 login">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-10 col-md-8 col-lg-6 col-xl-5">
      <div class="card">
        <div class="card-body p-4 text-center">
          {% if validlink %}

          {% if form.submitted %}
            {% if form.invalid_token %}
              <p>Link jest błędny lub został już wykorzystany</p>
            {% else %}
              <p>Hasło zmienione.</p>
            {% endif %}
          {% else %}
            <form method="post" class="form-signin">
              {% csrf_token %}
              <h2 class="fw-bold text-uppercase">ustaw nowe hasło</h2>
              {% if form.non_field_errors %}
                <div class="alert alert-danger">
                  {{ form.non_field_errors }}
                </div>
              {% endif %}

              <div class="form-outline mb-2">
                <label for="{{ form.new_password1.id_for_label }}" class="form-label">Nowe hasło</label>
                <input type="password" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}" class="form-control" />
                {% if form.new_password1.errors %}
                  <div class="alert alert-danger">
                    {{ form.new_password1.errors }}
                  </div>
                {% endif %}
              </div>

              <div class="form-outline mb-1">
                <label for="{{ form.new_password2.id_for_label }}" class="form-label">Powtórz nowe hasło</label>
                <input type="password" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}" class="form-control" />
                {% if form.new_password2.errors %}
                  <div class="alert alert-danger">
                    {{ form.new_password2.errors }}
                  </div>
                {% endif %}
              </div>

              <input class="btn btn-lg px-5" type="submit" value="Zapisz">
            </form>
          {% endif %}

          {% else %}
            <p>
              Link do zmiany hasła wygasł lub jest błędny, spróbuj wysłać nowy link do zmiany hasła.
            </p>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
