{% extends 'clubs/main.html' %}

{% block title %}Zmień hasło {% endblock %}
{% block header_not_auth %}Zmień hasło {% endblock %}

{% block signuup/login %}
    <div class="container py-5 h-100 login">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10 col-md-8 col-lg-6 col-xl-5">
          <div class="card">
            <div class="card-body p-4 text-center">
  
                <form method="post" class="form-signin">
                    {% csrf_token %}
                  <h2 class="fw-bold text-uppercase">przywracanie hasła</h2>
                  <p class="mb-3">Wpisz używany przez ciebie adres email.</p>
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                      {{ form.non_field_errors }}
                    </div>
                    {% endif %}
                  <div class="form-outline mb-2">
                    <input type="email" name="email" autocomplete="email" maxlength="254" required="False" id="id_email" class="form-control">
                    <label class="form-label" for="id_email">Email</label>
                  </div>

                  <input class="btn  btn-lg px-5" type="submit" value="Wyślij link">
                </form>
 
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}