{% extends 'clubs/main.html' %}

{% block title %}Ustawienia klubu{% endblock %}

{% block content %}


<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Zapisz</button>
  </form>
<a href="{% url 'delete_club' club.id %}">Usuń klub</a><br>
<a href="{% url 'user_panel' %}">Wróć</a>

<hr>

<h3>Role w klubie</h3>
<table>
  <thead>
      <tr>
          <th>Imię i nazwisko</th>
          <th>Role</th>
      </tr>
  </thead>
{% for user in users %}
  <tbody>
      <tr>
          <td>{{user.user.first_name}} {{user.user.last_name}}{{user.status}}</td>
          <td>
            {{user.roles}}
          </td>
      </tr>
  </tbody>
{% endfor %}
</table>
<a href="{% url 'roles_in_club' club.id %}">Zarządzaj rolami</a> <br>
<a href="{% url 'add_user_to_club' club.id %}">Dodaj użytkownika</a>

<hr>
<h3>Drużyny</h3>
<table>
  <thead>
      <tr>
          <th>Nazwa</th>
          <th>Kategoria wiekowa</th>
          <th>Sezony</th>
      </tr>
  </thead>
{% for team in teams %}

{% if team.club == club %}
<tbody>
  <tr>
      <td>
        <a href="{% url 'edit_team' team.id %}" style="text-decoration: none;">{{team.name}}</a></td>
      <td>
        {{team.category}}
      </td>
      <td>
        {% for season in seasons %}
          {% if season.team == team %}
            {{season.name_and_status}} <br>
          {% endif %}
        {% endfor %}
      </td>
      <td>
        <a href="{% url 'delete_team' team.id %}">Usuń</a>
      </td>
  </tr>
</tbody>
{% endif %}
{% endfor %}
</table>

<a href="{% url 'create_team' club.id %}">Stwórz nową drużynę</a>


{% endblock %}