{% extends 'clubs/main.html' %}

{% block title %}Ustawienia klubu{% endblock %}
{% block header %}Ustawienia klubu{% endblock %}

{% block content %}


<div class="container dashboard">

  <div class="row ">
    <div class="col-lg-4 mb-3">
      <div class="row">
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img style="width: 75%; height: 75%; display: flex;" class="rounded-circle shadow-4-strong"
                src="https://us.123rf.com/450wm/andyadi/andyadi1810/andyadi181000127/110848083-pi%C5%82ka-no%C5%BCna-herb-pi%C5%82karski-emblemat-wektor-logo-szablon-projektu-inspiracja-dla-zespo%C5%82u-klubu.jpg"
                alt="">
              <div class="mt-3">
                <h4>{{club.name}}</h4>
                <p class="text-secondary mb-1">{{club.addres}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body">
          <form method="POST" class="user-profil data">
            {% csrf_token %}
            <div class="row">
              <label for="{{form.name.id_for_label}}" class="col-sm-5 col-form-label">Nazwa</label>
              <div class="col-sm-7">
                {{form.name}}
                {% for error in form.name.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>
            <hr>
            <div class="row">
              <label for="{{form.legal_form.id_for_label}}" class="col-sm-5 col-form-label">Forma prawna</label>
              <div class="col-sm-7">
                {{form.legal_form}}
                {% for error in form.legal_form.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>
            <hr>
            <div class="row">
              <label for="{{form.addres.id_for_label}}" class="col-sm-5 col-form-label">Adres</label>
              <div class="col-sm-7">
                {{form.addres}}
                {% for error in form.addres.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>
            <hr>
            <div class="row">
              <label for="{{form.regon.id_for_label}}" class="col-sm-5 col-form-label">REGON</label>
              <div class="col-sm-7">
                {{form.regon}}
                {% for error in form.regon.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>
            <hr>
            <div class="row">
              <label for="{{form.nip.id_for_label}}" class="col-sm-5 col-form-label">NIP</label>
              <div class="col-sm-7">
                {{form.nip}}
                {% for error in form.nip.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>
            <hr>

            <div class="row">
              <label for="{{form.year_of_foundation.id_for_label}}" class="col-sm-5 col-form-label">Rok założenia</label>
              <div class="col-sm-7">
                {{form.year_of_foundation}}
                {% for error in form.year_of_foundation.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <input name="club-submit" type="submit" class="btn " value="Zapisz">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>






<form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Zapisz</button>
</form>
<a href="{% url 'delete_club' club.id %}">Usuń klub</a><br>
<a href="{% url 'user_panel' %}">Wróć</a>

<hr>

<h3>Role w klubie</h3>
<table>
  <thead>
    <tr>
      <th>Imię i nazwisko</th>
      <th>Role</th>
    </tr>
  </thead>
  {% for user in users %}
  <tbody>
    <tr>
      <td>{{user.user.first_name}} {{user.user.last_name}}{{user.status}}</td>
      <td>
        {{user.roles}}
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
<a href="{% url 'roles_in_club' club.id %}">Zarządzaj rolami</a> <br>
<a href="{% url 'add_user_to_club' club.id %}">Dodaj użytkownika</a>

<hr>
<h3>Drużyny</h3>
<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Kategoria wiekowa</th>
      <th>Sezony</th>
    </tr>
  </thead>
  {% for team in teams %}

  {% if team.club == club %}
  <tbody>
    <tr>
      <td>
        <a href="{% url 'edit_team' team.id %}" style="text-decoration: none;">{{team.name}}</a>
      </td>
      <td>
        {{team.category}}
      </td>
      <td>
        {% for season in seasons %}
        {% if season.team == team %}
        {{season.name_and_status}} <br>
        {% endif %}
        {% endfor %}
      </td>
      <td>
        <a href="{% url 'delete_team' team.id %}">Usuń</a>
      </td>
    </tr>
  </tbody>
  {% endif %}
  {% endfor %}
</table>

<a href="{% url 'create_team' club.id %}">Stwórz nową drużynę</a>


{% endblock %}