{% extends 'clubs//main.html ' %}

{% block title %}Ustawienia klubu{% endblock %}

{% block content %}


<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Zapisz</button>
  </form>
<a href="{% url 'delete_club' club.id %}">Usuń klub</a><br>
<a href="{% url 'user_panel' %}">Wróć</a>

<hr>

<h3>Role w klubie</h3>
<table>
  <thead>
      <tr>
          <th>Imię i nazwisko</th>
          <th>Role</th>
      </tr>
  </thead>
{% for user in users %}
  <tbody>
      <tr>
          <td>{{user.user.first_name}} {{user.user.last_name}}{{user.status}}</td>
          <td>
            {{user.roles}}
          </td>
      </tr>
  </tbody>
{% endfor %}
</table>
<a href="{% url 'roles_in_club' club.id %}">Zarządzaj rolami</a> <br>
<a href="{% url 'add_user_to_club' club.id %}">Dodaj użytkownika</a>

{% endblock %}