{% extends 'clubs//main.html ' %}

{% block title %}Kadra{% endblock %}

{% block content %}

<h3>Kadra klubu</h3>
<table>
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data urodzin</th>
            <th>Drużyny</th>
        </tr>
    </thead>
  {% for player in players %}
  <tbody>
    <tr>
        <td>
            {{player.name}}
        </td>
        <td>
            {{player.surname}}
        </td>
        <td>
            {{player.player_data.date_of_birth}}
        </td>
        <td>
            {% for season in seasons %}
                {% if player in season.player.all %}
                    {{ season.team }}<br>
                {% endif %}
            {% endfor %}

        </td>
    </tr>
  </tbody>
  {% endfor %}
  </table>



{% endblock %}