{% extends 'clubs/main.html' %}

{% block title %}Ustawienia klubu{% endblock %}

{% block content %}
    <div class="card" style="width: 28rem;">
        <div class="card-body">
            <h5 class="card-title">{{ user.username }}, czy na pewno chcesz usunąć swoje konto?</h5>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Usuń</button>
                <a href="{% url 'user_profile' %}" class="btn btn-secondary">wróć</a>
        </form>
            
        </div>
    </div>
{% endblock %}