{% extends 'clubs/main.html' %}

{% block title %}Usuń sprzęt{% endblock %}

{% block content %}
    <div class="card" style="width: 28rem;">
        <div class="card-body">
            <h5 class="card-title">Czy na pewno chcesz usunąć {{item.name}}?</h5>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Usuń</button>
                <a href="{% url 'clubs_equipment' club.id %}" class="btn btn-secondary">wróć</a>
        </form>
            
        </div>
    </div>
{% endblock %}