{% extends 'clubs/main.html' %}

{% block title %}Dadaj drużynę{% endblock %}
{% block header %}Dodaj drużynę{% endblock %}

{% block content %}

<div class="container py-5 h-100 dashboard">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-8 col-md-8 col-lg-6 col-xl-5">
      <div class="card mb-3">
        <div class="card-body">
          <form method="POST" class="user-profil data">
            {% csrf_token %}
            <div class="row">
              <label for="{{team_form.name.id_for_label}}" class="col-sm-5 col-form-label">Nazwa</label>
              <div class="col-sm-7">
                {{team_form.name}}
                {% for error in form.name.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>
            <hr>
            <div class="row">
              <label for="{{form.legal_form.id_for_label}}" class="col-sm-5 col-form-label">Forma prawna</label>
              <div class="col-sm-7">
                {{form.legal_form}}
                {% for error in form.legal_form.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>
            <hr>
            <div class="row">
              <label for="{{form.addres.id_for_label}}" class="col-sm-5 col-form-label">Adres</label>
              <div class="col-sm-7">
                {{form.addres}}
                {% for error in form.addres.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>
            <hr>
            <div class="row">
              <label for="{{form.regon.id_for_label}}" class="col-sm-5 col-form-label">REGON</label>
              <div class="col-sm-7">
                {{form.regon}}
                {% for error in form.regon.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>
            <hr>
            <div class="row">
              <label for="{{form.nip.id_for_label}}" class="col-sm-5 col-form-label">NIP</label>
              <div class="col-sm-7">
                {{form.nip}}
                {% for error in form.nip.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>
            <hr>

            <div class="row">
              <label for="{{form.year_of_foundation.id_for_label}}" class="col-sm-5 col-form-label">Rok
                założenia</label>
              <div class="col-sm-7">
                {{form.year_of_foundation}}
                {% for error in form.year_of_foundation.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <input name="club-submit" type="submit" class="btn " value="Zapisz">
              </div>
            </div>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

{% if team_errors %}
  <div class="error">
    {{ team_errors }}
  </div>
{% endif %}

{% if season_errors %}
  <div class="error">
    {{ season_errors }}
  </div>
{% endif %}

<h2>Utwórz drużynę</h2>
<form method="post">
  {% csrf_token %}
  {{ team_form }}
  {{ season_form }}
  <button type="submit">Utwórz drużynę</button>
</form>

{% endblock %}