{% extends 'clubs//main.html ' %}

{% block title %}Edytuj dane drużyny{% endblock %}

{% block content %}

{% if team_errors %}
  <div class="error">
    {{ team_errors }}
  </div>
{% endif %}

{% if season_errors %}
  <div class="error">
    {{ season_errors }}
  </div>
{% endif %}

<h2>Edycja danych drużyny</h2>
<form method="post">
  {% csrf_token %}
  {{ team_form }}
  {{ season_form }}
  <input  name="data-submit" value="Zapisz" type="submit"/> <br>
  <a href="{% url 'add_season' team.id %}">Dodaj sezon</a> <br>
  <a href="{% url 'edit_active_season' team.id %}">Edytuj aktywny sezon</a> <br>
  <a href="{% url 'club_settings' club.id %}">wróć</a>
</form>

<hr>
<h3>Sezony</h3>
<table>
  <thead>
      <tr>
          <th>Nazwa</th>
          <th>Data rozpoczęcia</th>
          <th>Data zakończenia</th>
      </tr>
  </thead>
  <tbody>
      {% for season in seasons %}
          <tr>
              <td>{{ season.name }}</td>
              <td>{{ season.date_of_start }}</td>
              <td>{{ season.date_of_end }}</td>
          </tr>
      {% endfor %}
  </tbody>
</table>
  


{% endblock %}