{% extends 'clubs/main.html' %}

{% block title %}Edytuj mezocykl{% endblock %}

{% block content %}
<h2> Edytuj mezocykl </h2>
<p>{{mezocycle.name}}</p>

<form method="post">
{% csrf_token %}
{{ mezocycle_form }}
<input type="submit" name="mezocycle" value="Zapisz">

<form method="post">
<table>
  <thead>
    <th>Tydzień</th>
    {% for t in for_t %}
      <th>Trening {{ t }}</th>
    {% endfor %}
  </thead>
  <tbody>
    {% for w in for_w %}
      <tr>
        <td>{{ w }}</td>
        {% for t in for_t %}
          {% for form in forms_list %}
            {% if form.week_number == w and form.training_number == t%}
            <td>
              {{form.as_p }}
            </td>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% csrf_token %}
<input type="submit" name="mezocycle_details" value="Zapisz">
<input type="submit" name="mezocycle_copy" value="Zapisz jako kopię">
</form>
<a href="{% url 'mezocycles' mezocycle.team.id %}" >wróć</a>
{% endblock %}
