{% extends 'clubs//main.html ' %}

{% block title %}Edytuj dane drużyny{% endblock %}

{% block content %}

{% if team_errors %}
  <div class="error">
    {{ team_errors }}
  </div>
{% endif %}

{% if season_errors %}
  <div class="error">
    {{ season_errors }}
  </div>
{% endif %}

<h2>Edycja danych drużyny</h2>
<form method="post">
  {% csrf_token %}
  {{ team_form }}
  <input  name="team-submit" value="Zapisz" type="submit"/>
</form>

<form method="post">
  {% csrf_token %}
  {{ season_form }}
  <input  name="season-submit" value="Zapisz" type="submit"/>


</form>


{% endblock %}