{% extends 'clubs/main.html' %}

{% block title %}Plany treningowe {{team.name}}{% endblock %}
{% block header %}Plany treningowe {{team.name}}{% endblock %}

{% block content %}

<div class="container-fluid py-5 h-100 dashboard">
  <div class="row d-flex justify-content-center align-items-top">
    <div class="col-12 col-md-12 col-lg-6 col-xl-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="fw-bolder mb-3">Szablony planów treningowych</h6>
            <div class="row">
              <div class="col-5">
                <h6 class="fw-bolder h-100" style="border-bottom:2px solid #FF851B ;">Nazwa</h6>
              </div>
              <div class="col-3">
                <h6 class="fw-bolder h-100" style="border-bottom:2px solid #FF851B ;">Tygodnie</h6>
              </div>
              <div class="col-3">
                <h6 class="fw-bolder h-100" style="border-bottom:2px solid #FF851B ;">Treningi na tydzień</h6>
              </div>
              <div class="col-1">
              </div>
            </div>
            {% for item in mezocycles %}
            <div class="row mt-1">
              <div class="col-5 ">
                <h6 class="h-100" style="border-bottom:1px solid #FF851B ;">{{item.name}}</h6>
              </div>

              <div class="col-3 ">
                <h6 class="h-100">{{item.weeks}}</h6>
              </div>

              <div class="col-3 ">
                <h6 class="h-100">{{item.trainings_per_week}}</h6>
              </div>

              <div class="col-1 ">
                  <button class="btn dropdown-toggle py-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="{% url 'edit_mezocycle' item.id %}">Edytuj</a></li>
                    <li><a class="dropdown-item" href="{% url 'implement_mezocycle' item.id %}">Wdróż plan treningowy</a></li>
                    <li><a class="dropdown-item" href="{% url 'delete_mezocycle' item.id %}">Usuń plan treningowy</a></li>
                  </ul>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>

    </div>

    <div class="col-12 col-md-12 col-lg-6 col-xl-6">
      <div class="row">
        <div class="col-12">
          <a class="text-decoration-none" href="{% url 'create_mezocycle' team.id %}">
            <div class="card  mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row justify-content-between" style="border-radius: 0.5rem;">
                <i class="fa-solid fa-plus px-2"></i>
                <h6 class="m-0 text-uppercase">dodaj nowy plan treningowy</h6>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="fw-bolder mb-3">Wdrożone plany treningowe</h6>
            <div class="row">
              <div class="col-5">
                <h6 class="fw-bolder h-100" style="border-bottom:2px solid #FF851B ;">Nazwa</h6>
              </div>
              <div class="col-3">
                <h6 class="fw-bolder h-100" style="border-bottom:2px solid #FF851B ;">Tygodnie</h6>
              </div>
              <div class="col-3">
                <h6 class="fw-bolder h-100" style="border-bottom:2px solid #FF851B ;">Treningi na tydzień</h6>
              </div>
              <div class="col-1">
              </div>
            </div>
            {% for item in implemented_mezocycles %}
            <div class="row mt-1">
              <div class="col-5 ">
                <h6 class="h-100" style="border-bottom:1px solid #FF851B ;">{{item.name}}</h6>
              </div>

              <div class="col-3 ">
                <h6 class="h-100">{{item.weeks}}</h6>
              </div>

              <div class="col-3 ">
                <h6 class="h-100">{{item.trainings_per_week}}</h6>
              </div>

              <div class="col-1 ">
                  <button class="btn dropdown-toggle py-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="{% url 'review_implemented_mezocycle' item.id %}">Podgląd</a></li>
                    <li><a class="dropdown-item" href="{% url 'pdf_view' item.id %}">Wygeneruj PDF</a></li>
                    <li><a class="dropdown-item" href="{% url 'delete_implemented_mezocycle' item.id %}">Usuń plan treningowy</a></li>
                  </ul>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}