{% extends 'clubs/main.html' %}

{% block title %}Raport Frekwencji dla zawodnika{% endblock %}

{% block content %}

<h3>{{player.name}} {{player.surname}} - Raport Frekwencji</h3>
<h3>Frekwencja wyniosła {{avg_attendance}}%</h3>
{% if attendance_filter.errors %}
  <ul class="errorlist">
    {% for field_errors in attendance_filter.errors.values %}
      {% for error in field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
<form method="get" action="">
    {{ attendance_filter.as_p }}
    <button type="submit">Filtruj</button>
</form>
<table>
    <thead>
        <tr>
            {% for training in trainings %}
            <th>{{training.start_datatime|date:"m-d"}}<br>{{training.start_datatime|date:"Y"}}</th>
            {% endfor %}
        </tr>
    </thead>
  <tbody>
    <tr>
        {% if trainings %}
            {% for t in trainings %}
                <td>
                {% for att in attendances %}
                    {% if att.training.id == t.id %}
                        {% if att.player.id == player.id %}
                            {% if att.present %}
                                &#x2705;
                            {% elif att.present == False %}
                                &#10060;
                            {% else %}
                                &#10068;
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </td>
            {% endfor %}
        {% else %}
        <td>Brak treningów w wybranym okresie</td>
        {% endif %}
    </tr>
  </tbody>

  </table>



{% endblock %}