{% extends 'clubs/main.html' %}

{% block title %}Wypożycz sprzęt{% endblock %}
{% block header %}Wypożycz sprzęt{% endblock %}

{% block content %}

<div class="container py-5 h-100 dashboard">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card mb-3">
        <div class="card-body">
          <form method="POST" class="user-profil data">
            {% csrf_token %}

            {% if form.non_field_errors %}
              <div class="alert alert-danger my-custom-alert">
                {% for error in form.non_field_errors %}
                    {{ error|striptags }}
                {% endfor %}
              </div>
            {% endif %}

            <div class="row mt-2">
              <label for="{{form.player.id_for_label}}" class="col-sm-5 col-form-label">Zawodnik</label>
              <div class="col-sm-7">
                {{form.player}}
                {% for error in form.player.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>

            <div class="row mt-2">
              <label for="{{form.quantity.id_for_label}}" class="col-sm-5 col-form-label">Ilość[szt]</label>
              <div class="col-sm-7">
                {{form.quantity}}
                {% for error in form.quantity.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>

            <div class="row mt-2">
              <label for="{{form.date_of_rental.id_for_label}}" class="col-sm-5 col-form-label">Data wypożyczenia</label>
              <div class="col-sm-7">
                {{form.date_of_rental}}
                {% for error in form.date_of_rental.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>

            <div class="row mt-2">
              <label for="{{form.description.id_for_label}}" class="col-sm-5 col-form-label">Dodatkowe informacje</label>
              <div class="col-sm-7">
                {{form.description}}
                {% for error in form.description.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-sm-12">
                <input name="club-submit" type="submit" class="btn " value="Wypożycz">
              </div>
            </div>
          </form>

        </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-end links">
          <a href="{% url 'clubs_equipment' club.id %}" class="text-decoration-none mt-1 ">
            <i class="fa-solid fa-arrow-left"></i> &nbsp; wróć do listy sprzętów
          </a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}