{% extends 'clubs//main.html ' %}

{% block title %}Kadra{% endblock %}

{% block content %}

<table>
  <thead>
      <tr>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>Rola</th>
      </tr>
  </thead>
  {% for coach in coaches %}
  <tbody>
      <tr>
          <td>
            {{coach.coach.first_name}}
          </td>
          <td>
            {{coach.coach.last_name}}
          </td>
          <td>
            {{ coach.display_role_and_since }}
          </td>
          <td>
            <a href="{% url 'edit_team_coaching_staff' team.id coach.coach.id %}">Edytuj</a>
          </td>
      </tr>
  </tbody>
  {% endfor %}
</table>
<a href="{% url 'add_coach_to_team' team.id %}">Dodaj członka sztabu</a><br>



{% endblock %}