<div class="dropdown">
        <h6 class="btn my-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            
        </h6>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="{% url 'player_attendance_report' season.id record.id %}">Raport frekwencji</a></li>
            <li><a class="dropdown-item" href="{% url 'delete_player_from_team' season.id record.id %}">Usuń zawodnika z drużyny</a></li>
            <li><a class="dropdown-item" href="{% url 'edit_player' record.id %}">Edytuj dane zawodnika</a></li>
                <li><a class="dropdown-item" href="{% url 'players_equipment' record.id %}">Raport posiadanego sprzętu</a></li>

        </ul>
</div>