{% extends 'clubs/main.html' %}

{% block title %}Raport obecności{% endblock %}

{% block content %}
<h2>Raport obecności na treningu, który odbył się {{training.start_datatime}}</h2><br>
<h3>Frekwencja wyniosła {{avg_attendance}}%</h3>
<h4>Obecni:</h4>
  {% for att in attendance %}
    {% if att.present %}
      {{ att.player.name }} {{ att.player.surname }},
    {% endif %}
  {% endfor %}
<br>
<h4>Nieobecni:</h4>
  {% for att in attendance %}
    {% if not att.present %}
      {{ att.player.name }} {{ att.player.surname }},
    {% endif %}
  {% endfor %}

{% endblock %}
