{% extends 'clubs/main.html' %}

{% block title %}Treningi{% endblock %}

{% block content %}

<a class="link" href="{% url 'add_training' team.id %}">Utwórz trening</a>
<h3>Zaplanowane</h3>
<table>
  <thead>
    <tr>
      <th>Trening</th>
      <th>Zarządzaj</th>
    </tr>
  </thead>
  <tbody>
    {% for training in schedueled_trainings %}
    <tr>
      <td>{{training.topic}} - {{training.start_datatime}}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="{%url 'training_details' training.id %}">Pokaż szczegóły</a></li>
              <li><a class="dropdown-item" href="{%url 'edit_training' training.id %}">Edytuj</a></li>
              <!-- <li><a class="dropdown-item" href="#">Sprawdź obecność</a></li> -->
              <li><a class="dropdown-item" href="{%url 'delete_training' training.id %}">Usuń trening</a></li>
          </ul>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr>
<h3>Zakończone</h3>

<table>
  <thead>
    <tr>
      <th>Trening</th>
      <th>Zarządzaj</th>
    </tr>
  </thead>
  <tbody>
    {% for training in finished_trainings %}
    <tr>
      <td>{{training.topic}} - {{training.start_datatime}}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="{%url 'training_details' training.id %}">Pokaż szczegóły</a></li>
              <li><a class="dropdown-item" href="{%url 'edit_training' training.id %}">Edytuj</a></li>
              <li><a class="dropdown-item" href="{%url 'training_attendance' training.id %}">Sprawdź obecność</a></li>
              <li><a class="dropdown-item" href="{%url 'training_attendance_report' training.id %}">Raport obecności</a></li>
              <li><a class="dropdown-item" href="{%url 'delete_training' training.id %}">Usuń trening</a></li>
            </ul>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}