{% extends 'clubs/main.html' %}

{% block title %}Sprawdź obecność{% endblock %}

{% block content %}
<h2>Sprawdź obecność</h2>
{% if form.errors %}
  <ul class="errorlist">
    {% for field_errors in form.errors.values %}
      {% for error in field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
<form method="post" id="attendance-form">
  <table>
    <thead>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Obecny</th>
      <th>Nie określono</th>
      <th>Nieobecny</th>
    </thead>
    <tbody>
      {% for att, form in forms_list %}
          <tr>
            <td>{{ att.player.name }}</td>
            <td>{{ att.player.surname }}</td>
            <td>
                {{ form.present }} 
                <label for="id_{{att.player.id}}-present">{{ form.present.label }}</label>
            </td>
            <td>
                {{ form.not_specified }} 
                <label for="id_{{att.player.id}}-not_specified">{{ form.not_specified.label }}</label>
            </td>
            <td>
                {{ form.absent }} 
                <label for="id_{{att.player.id}}-absent">{{ form.absent.label }}</label>
              </td>
          </tr>
        {% endfor %}
    </tbody>
  </table>

  {% csrf_token %}
  <input type="submit" value="Zapisz">
</form>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var rows = document.querySelectorAll('#attendance-form tbody tr');

    rows.forEach(function(row) {
        var checkboxes = row.querySelectorAll('input[type="checkbox"]');
        
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                var checkedCheckboxes = row.querySelectorAll('input[type="checkbox"]:checked');
                
                if (checkedCheckboxes.length === 0) {
                    // Jeśli żaden checkbox nie jest zaznaczony, zaznacz aktualny checkbox
                    checkbox.checked = true;
                } else {
                    // Odznacz pozostałe checkboxy
                    checkboxes.forEach(function(otherCheckbox) {
                        if (otherCheckbox !== checkbox) {
                            otherCheckbox.checked = false;
                        }
                    });
                }
            });
        });
    });
});
</script>

{% endblock %}
