<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {{ user.id }}
    {% csrf_token %}
    {{ user_form }}
    {{ profile_form }}
    <button type="submit">Zapisz</button>
    </form>
    <form method="post">
    {% csrf_token %}
    {{ password_form }}
    <button type="submit">Zmień hasło</button>
    </form>
    <a href="{% url 'delete_profile' user.id %}" class="btn btn-secondary">Usuń swoje konto</a>

</body>
</html>