{% extends 'clubs/main.html' %}

{% block title %}Twoje role w klubach{% endblock %}
{% block header %}Twoje role w klubach{% endblock %}

{% block content %}
<div class="container py-5 h-100 dashboard">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-8 col-lg-8 ">
      <div class="card  mb-4 my-trainings">
        <div class="card-body">
          <h4 class="m-0 fw-bolder text-uppercase">
            Twoje role
          </h4>
          <p class="small mt-1 pb-2" style="border-bottom: 1px solid #FF851B;">
            Pamiętaj że rezygnując z roli w w klubie utracisz do niego dostęp. jeśli jesteś jedynym
            administratorem klubu nie będziesz mógł zrezygnować chyba, że usuniesz cały klub lub nadasz komuś innemu
            rolę administratora.
          </p>
          {% for usersClub in usersClubs_roles %}
          {% if usersClub.accepted != False %}
          <div class="row d-flex p-2 mb-2 ">
            <div class="col-4 p-1"> {{usersClub.club.name}}</div>
            <div class="col-4 p-1">{{usersClub.roles}}</div>
            {% if usersClub.accepted == True %}
            <div class="col-3 p-1 links">
              <a href="{% url 'user_role_delete' usersClub.club.id %}" class="text-decoration-none">Zrezygnuj</a>
            </div>
            {% elif usersClub.accepted == None %}
            <div class="col-4 p-1 d-flex">
              <form method="post" action="{% url 'user_role_answer' usersClub.club.id %}">
                {% csrf_token %}
                <input type="hidden" name="status" value="True">
                <input type="submit" class="btn" value="Zaakceptuj">
              </form>
              <form method="post" action="{% url 'user_role_answer' usersClub.club.id %}">
                {% csrf_token %}
                <input type="hidden" name="status" value="False">
                <input type="submit" class="btn second-option mx-1" value="Odrzuć">
              </form>
            </div>
            {% endif %}
          </div>
          {% endif %}
          {% endfor %}






        </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-end links">
          <a href="{% url 'user_panel' %}" class="text-decoration-none mt-1 ">
            <i class="fa-solid fa-arrow-left"></i> &nbsp; Wróć do panelu użytkownika
          </a>
        </div>
      </div>


    </div>
  </div>
</div>


{% endblock %}