{% extends 'clubs/main.html' %}

{% block title %}Panel użytkownika {{user}}{% endblock %}
{% block header %}Panel użytkownika {{user}}{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid dashboard">


    <!-- Content Row -->

    <div class="row">

        <div class="col-xl-7 col-lg-6 ">
            <div class="card  mb-4 my-trainings">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row">
                    <h6 class="m-0">Nadchodzące treningi</a></h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    {% for training in upcoming_trainings%}
                    <a href="{%url 'training_details' training.id %}">
                        <div class="training d-flex p-2 mb-2 ">
                            <div class="col-4 p-1 ">{{training.start_datatime}}</div>
                            <div class="col-4 p-1 middle">{{training.season.team.name}}</div>
                            <div class="col-4 p-1">{{training.place.name}}, {{training.place.addres}}</div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- user card -->
        <div class="col-xl-5 col-lg-6">
            <div class="card  mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row justify-content-between">
                    <h6 class="m-0"> Twój profil</h6>
                    <a class="text-decoration-none" href="{% url 'user_profile' %}"> <h6 class="m-0"><i class="fa-solid fa-eye"></i></h6> </a>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4  user-profile" >
                                <div class="text-center">
                                    <h4 class="fw-bolder">{{user.username}}</h4>
                                    <p class="small">{{user.email}}</p>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <div class="mb-2 d-flex flex-row justify-content-between" style="border-bottom: 1px solid #333333;">
                                        <h6 class="m-0">Twoje dane</h6>
                                        <a class="text-decoration-none" href="{% url 'user_profile' %}"> <h6 class="m-0"><i class="fa-solid fa-pen"></i></h6> </a>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="mb-0 f-w-600">Imię</p>
                                            <h6 class="text-muted f-w-400">{{user.first_name}}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="mb-0 f-w-600">Nazwisko</p>
                                            <h6 class="text-muted f-w-400">{{user.last_name}}</h6>
                                        </div>
                                    </div>
                                    <div class="my-2 d-flex flex-row justify-content-between" style="border-bottom: 1px solid #333333;">
                                        <h6 class="m-0">Twoje role</h6>
                                        <a class="text-decoration-none" href="{% url 'user_roles' %}"> <h6 class="m-0"><i class="fa-solid fa-pen"></i></h6> </a>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="mb-0 f-w-600">Administrator</p>
                                            {% for club in usersClubs %}
                                            {% if club.admin%}
                                            <h6 class="text-muted f-w-400 m-0 p-0">{{club.club.name}}</h6>
                                            {% endif %}
                                            {% endfor %}

                                        </div>
                                        <div class="col-sm-6">
                                            <p class="mb-0 f-w-600">Koordynator szkolenia</p>
                                            {% for club in usersClubs %}
                                            {% if club.training_coordinator%}
                                            <h6 class="text-muted f-w-400 m-0 p-0">{{club.club.name}}</h6>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-sm-6">
                                            <p class="mb-0 f-w-600">Trener</p>
                                            {% for club in usersClubs %}
                                            {% if club.coach%}
                                            <h6 class="text-muted f-w-400 ">{{club.club.name}}</h6>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="mb-0 f-w-600">Pracownik administracji klubowej</p>
                                            {% for club in usersClubs %}
                                            {% if club.employee%}
                                            <h6 class="text-muted f-w-400 ">{{club.club.name}}</h6>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <!-- kluby -->
        <div class="col-xl-5 col-md-4 mb-4">
            <div class="card">
                <div class="card-header py-3 d-flex flex-row">
                    <h6 class="m-0">Moje Kluby</a></h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    {% for club in usersClubs%}
                    <a href="{% url 'club_settings' club.club.id %}">
                        <div class="training d-flex p-2 mb-2 justify-content-between">
                            <div class="">{{club.club.name}}</div>
                            <div class=""><i class="fa-solid fa-gear"></i></div>
                        </div>
                    </a>
                    {% endfor %}
                    <a href="{% url 'create_club' %}">
                        <div class="training d-flex p-2 mt-4 justify-content-between">
                            <div>Załóż nowy klub..</div>
                            <div><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <!-- drużyny -->
        <div class="col-xl-7 col-md-6 mb-4">
            <div class="card">
                <div class="card-header py-3 d-flex flex-row">
                    <h6 class="m-0">Moje Zespoły</a></h6>
                </div>
                <!-- Card Body -->
                <div class="card-body ">
                    {% for team in user_coaching_teams%}
                    <a href="{% url 'team_staff' team.id %}">
                        <div class="training d-flex p-2 mb-2">
                            <div class="col-3 p-1 text-center">{{team.team.club.name}}</div>
                            <div class="col-4 p-1 middle text-center">{{team.team.name}}</div>
                            <div class="col-4 p-1 text-center">{{team.role_in_team}}</div>
                            <div class="col-1 p-1 text-end"><i class="fa-solid fa-gear"></i></div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>

    </div>
</div>


{% endif %}

{% endblock %}