body{
 background: #EEEEEE;
 overflow: hidden; /* Prevent page scrolling */
 font-family: 'Roboto', sans-serif;
 color: #333;

}

#side_nav{
    overflow-y: auto; /* Add vertical scrollbar for sidebar */
    background: #001F3F;
    transition: all 0.3s;
    min-width: 180px;
    max-width: 180px;
    min-height: 100vh;
    max-height: 100vh;   
    padding-bottom: 20px;
}
#side_nav::-webkit-scrollbar {
    width: 7px; /* Szerokość paska przewijania */
}

#side_nav::-webkit-scrollbar-thumb {
    background-color:#001F3F; 
    border-radius: 10px; /* Zaokrąglenie paska przewijania */
}

#side_nav::-webkit-scrollbar-track {
    background-color: #4CAF50; /* Przezroczyste tło ścieżki przewijania */
    border-radius: 10px; /* Zaokrąglenie paska przewijania */
}
.content{
   width: 100%;
}

.main-content{
    padding: 20px;
    color: #333;
    min-height: 92vh;
    max-height: 92vh;
    width: 100%;
    overflow-y: auto; 
}

.main-content::-webkit-scrollbar {
    width: 7px; /* Szerokość paska przewijania */
}

.main-content::-webkit-scrollbar-thumb {
    background-color:#001F3F; 
     /* Zaokrąglenie paska przewijania */
}

.main-content::-webkit-scrollbar-track {
    background-color: transparent; 
    border-radius: 10px; /* Zaokrąglenie paska przewijania */
}


.sidebar li a{
 color: #fff;
}
.sidebar ul.components {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 0px;
}

.sidebar a,
.sidebar a:hover,
.sidebar a:focus {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebar ul li a {
    color:#fff;
    padding: 4px 10px 4px 10px;
    display: block;
}
.user-panel{
    padding: 10px 4px 10px 10px;
    border-bottom: 1px solid #ffffff;
    color:#fff;
    font-size: 0.8em;
    display: block;
}
.sidebar a:hover {
    color: #fff;
    background: #4CAF50;
}
.sidebar a:active {
    color: #fff;
    background: #4CAF50;
}


ul a {
    font-size: 0.8em !important;
    padding-left: 10px !important;
    background: #001F3F;
}
ul ul a {
    font-size: 0.8em !important;
    padding-left: 15px !important;
    background: #001F3F;
}
ul ul ul a {
    font-size: 0.8em !important;
    padding-left: 20px !important;
    background: #001F3F;
}
ul ul ul ul a {
    font-size: 0.8em !important;
    padding-left: 25px !important;
    background: #001F3F;
}

.sidebar li.active a {
    background: #4CAF50;
}





.navbar{
    background-color: #001F3F;
    color:#fff
}
.navbar .dropdown-menu {
    right: 0;
    left: auto;
}
/* Stylizacja dla nowego span z tytułem */

/* Pozycjonowanie navbar */
.navbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    background-color: #001F3F; /* Kolor tła navbar */
}

.navbar-left {
    margin-right: auto; /* Elementy z navbar-left będą przesunięte na lewo */
}

.navbar-right {
    margin-left: auto; /* Elementy z navbar-right będą przesunięte na prawo */
}



/* Domyślny kolor ikony */
.fa-solid.fa-bars {
    color: white;
    transition: color 0.3s ease; /* Dodane przejście dla koloru */
}
.bars-btn {
    border: none; /* Usunięcie domyślnej obwódki */
}

.bars-btn:active {
    border-color: transparent; /* Ustawienie niewidocznej obwódki po wciśnięciu */
}


/* Kolor ikony po najechaniu myszką */
.fa-solid.fa-bars:hover {
    color: #FF851B; /* Lub inny wybrany kolor pomarańczowy */
}

/* Domyślne style dla navbar-brand */
.navbar-brand.fs-4 span {
    color: #001F3F;
    background-color: #4CAF50 ;
}


.header-box .logo{
    color: #001F3F;
    background-color: #4CAF50 ;
}

.close-btn {
    color: white;
    border: none; /* Usunięcie domyślnej obwódki */
    transition: color 0.3s ease, border-color 0.3s ease; /* Dodane przejścia dla koloru tekstu i obwódki */
}

/* Zmiana koloru tekstu po najechaniu myszką */
.close-btn:hover {
    color: #FF851B;
}

/* Styl dla obwódki po wciśnięciu przycisku */
.close-btn:active {
    border-color: transparent; /* Ustawienie niewidocznej obwódki po wciśnięciu */
}

#userDropdown {
    color: #fff !important;
    transition: color 0.3s ease; /* Dodane przejście dla koloru tekstu */
}


.dropdown-menu {
    background-color: white; /* Tło białe */
    border: 2px solid #FF851B;
}
.dropdown-menu a {
    color: #000; /* Kolor czcionki czarny */
    transition: background-color 0.3s ease, color 0.3s ease; /* Dodane przejścia dla tła i koloru czcionki */
    padding: 2px;
}

/* Zmiana tła i koloru czcionki po najechaniu myszką */
.dropdown-menu a:hover {
    background-color: #FF851B; /* Tło pomarańczowe po najechaniu */
    color: #fff; /* Kolor czcionki biały po najechaniu */
}
.dropdown-divider {
    background-color: #FF851B;
    padding: 1px;
}



.login .card,
.signup .card {
    border-radius: 0.6rem;
    box-shadow: 0 0 10px 0.1em #4CAF50; /* Dodaj zielony cień */
    color: #333;
}
.form-signin .form-outline input {
    border-color: #4CAF50; /* Zmiana koloru obwódki na zielony po aktywacji */
}
.form-signin .form-outline input:focus {
    border-color: #4CAF50; /* Zmiana koloru obwódki na zielony po aktywacji */
    box-shadow: 0 0 0 0.25rem #4caf4fa9; /* Dodanie zielonego cienia po aktywacji */
}

.form-signin .form-outline label {
    color: #333; /* Kolor etykiety (tekstu) */
}

.form-signin .form-outline .alert {
    margin-top: 5px; /* Dodatkowy odstęp dla komunikatów o błędach */
}

.form-signin .btn {
    color: #fff; /* Kolor tekstu przycisku */
    border: 3px solid #FF851B;
    background-color: #FF851B;
}
.form-signin .btn:hover {
    color: #FF851B; /* Kolor tekstu przycisku */
    background-color: #fff;
    border: 3px solid #FF851B;
}
.form-signin .btn:focus {
    color: #FF851B; /* Kolor tekstu przycisku */
    background-color: #fff;
    border: 3px solid #FF851B;
    outline: none; 
}

.login a, 
.signup a{
    color: #FF851B; 
    text-decoration: none;
}


/* Resetowanie stylów dla pseudo-klas WebKit Autofill */
form input:-webkit-autofill,
form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus,
form input:-internal-autofill-selected {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important; /* Ustawienie białego tła */
    -webkit-text-fill-color: #333 !important; /* Kolor tekstu */
}


/*User panel*/
/*
.dashboard .my-trainings{
    min-height: 40vh;
    max-height: 40vh;
    overflow-y: auto; 
}*/
.dashboard .my-trainings::-webkit-scrollbar {
    width: 7px; /* Szerokość paska przewijania */
}

.dashboard .my-trainings::-webkit-scrollbar-thumb {
    background-color:#FF851B; 
    border-radius: 0.5rem; /* Zaokrąglenie paska przewijania */
}

.dashboard .my-trainings::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    background-color: #fff; 
}
.dashboard .card-header{
    border: none;
    background-color: #FF851B;
    color: #ffffff;
}
.dashboard .training{
    color: #ffffff;
    background-color: #4CAF50;
    border-radius: 0.5rem;
    transition: all 0.3s;
}
.dashboard .add{
    color: #FF851B;
    background-color: transparent;
    border-radius: 0.5rem;
    transition: all 0.3s;
}
.dashboard .training:hover{
    color: #ffffff;
    background-color: #FF851B;
    border-radius: 0.5rem;
}
.dashboard .middle{
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}
.dashboard a{
    text-decoration: none;
    color: inherit;
}
.dashboard .card{
    border: none;
    box-shadow: 0 0 5px #FF851B;
}
.links a{
    color: #FF851B;
    border: none;
    transition: all 0.3s;
}
.signup{
    border-radius: 0.5rem;
    background-color: #eeeeee;
}
.signup .orange{
    color:#FF851B
}
/*user profil */
.user-profil .form-control {
    border-color: #4CAF50; /* Zmiana koloru obwódki na zielony po aktywacji */
    color: #333;
}
.data .form-control {
    border-color: #4CAF50; /* Zmiana koloru obwódki na zielony po aktywacji */
    color: #333;

    outline: 0;
    border-width: 0 0 2px;

}
.user-profil .form-control:focus {
    border-color: #4CAF50; /* Zmiana koloru obwódki na zielony po aktywacji */
    box-shadow: 0 0 0 0.25rem #4caf4fa9; /* Dodanie zielonego cienia po aktywacji */
    color: #333;
}

.user-profil label {
    color: #333; /* Kolor etykiety (tekstu) */
}

.user-profil .alert {
    margin-top: 5px; /* Dodatkowy odstęp dla komunikatów o błędach */
}

.user-profil .btn {
    color: #fff; /* Kolor tekstu przycisku */
    border: 3px solid #FF851B;
    background-color: #FF851B;
}
.user-profil .btn:hover {
    color: #FF851B; /* Kolor tekstu przycisku */
    background-color: #fff;
    border: 3px solid #FF851B;
}
.user-profil .btn:focus {
    color: #FF851B; /* Kolor tekstu przycisku */
    background-color: #fff;
    border: 3px solid #FF851B;
    outline: none; 
}
.user-profil hr{
    color: #333333; /* Kolor tekstu przycisku */
}



@media(max-width: 767px){
 #side_nav{
    overflow-y: auto; /* Add vertical scrollbar for sidebar */
    margin-left: -180px;
    position: absolute;
    min-height: 100vh;
    z-index: 1;
    max-height: 100vh;
 }
 #side_nav.active{
   margin-left: 0;
  }
}